@use "./bootstrap-mod" as *;
@use "./sections/top";
@use "./sections/works";
@use "./sections/service";
@use "./sections/portfolio";
@use "./sections/insights";
@use "./sections/footer";
* {
  color: white;
  max-width: 100%;
  margin: 0;
}
body {
  background-image: url("/space.jpg"), url("/new-bg-2.jpg"),
    url("/solar-2.jfif"), url("/space-4.jfif"), url("/solar.jfif");
  background-position: 0 0, 0 195px, 0 430px, 0 650px, 0 850px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, contain, contain, contain;
  background-attachment: fixed, fixed, fixed, fixed, fixed;
}
.head-section {
  text-align: center;
  h2 {
    background: linear-gradient(to right, gray, white, gray);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-transform: capitalize;
  }
}
