@use "../bootstrap-mod" as *;
.footer {
  margin-top: 30px;
  box-sizing: border-box;
  padding-bottom: 40px;
  a {
    color: whitesmoke;
  }
  &-left {
    p {
      line-height: 3.5rem;
      @include media-breakpoint-down(md) {
        line-height: 1.2rem;
        font-size: 1.2rem !important;
      }
    }
    .h1 {
      background-image: linear-gradient(
        to right,
        rgb(117, 117, 204) 1%,
        skyblue 10%,
        rgb(117, 117, 204) 60%
      );
      background-clip: text;
      color: transparent;
    }
  }
  &-mid {
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
    div {
      a {
        color: silver;
      }
      margin-right: 10px;
      @include media-breakpoint-up(md) {
        margin-right: 40px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    font-size: small;
  }
}
.copyright {
  color: silver;
  margin-top: 1.5rem;
  @include media-breakpoint-down(md) {
    font-size: small !important;
    margin-top: 0;
  }
}
