@use "../bootstrap-mod" as *;

nav {
  border: 1px solid rgba(199, 185, 185, 0.308);
  width: 60%;
  margin: 32px auto;
  border-radius: 80px;
  .nav-link {
    color: white;
  }
}

.hero {
  text-align: center;
  margin: 10px auto;
  h1 {
    margin: auto;
    text-transform: capitalize;
    font-family: "Rethink Sans", sans-serif;
    background-image: linear-gradient(to right, gray, white, gray);
    background-clip: text;
    color: transparent;
    width: 490px;
    height: 120px;
    @include media-breakpoint-up(md) {
      height: 155px;
    }
    @include media-breakpoint-down(lg) {
      width: 400px;
    }
    @include media-breakpoint-down(md) {
      width: 350px;
    }
  }
}

.companies {
  display: flex;
  justify-content: space-around;
}

.logo {
  @include media-breakpoint-down(md) {
    transform: scale(0.75);
  }
}
